/* iAWriter-ish style. The cursor colour in a light theme */
.theme-light .x-cursor {
    opacity: 1;
    background: var(--text-normal);
    width: 1px;
    height: calc(0.81 * (6px + var(--cursor-height)));
    transition: all 150ms;
    top: calc(-0px - var(--header-height));
}

/* iAWriter-ish style. The cursor colour in a dark theme */
.theme-dark .x-cursor {
    opacity: 1;
    background: var(--text-normal);
    width: 1px;
    height: calc(6px + var(--cursor-height));
    transition: all 150ms;
    top: calc( -6px - var(--header-height));
}



.cm-editor * {
    caret-color: transparent !important;
}



/* Disable movement effect */
.cursorWrapper .x-cursor:after {
    display: none;
}


/* Blinking */

.cursorWrapper .x-cursor0,
.cursorWrapper .x-cursor1 {
    animation: blink1 1.3s 0s both infinite;
    animation-delay: 0.5s;
}



@keyframes blink1 {
    0% {
        opacity: 1;
    }

    45% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    65% {
        opacity: 0;
    }

    95% {
        opacity: 0;
    }

    100% {
        opacity: 0.2;
    }
}
