/* This snippet is meant to allow for easy modification of large parts of the typography within Obsidian.md, while maintaining a consistent style that has contextual meaning. */

:root {
    --typography-main: "Palatino Linotype", "Noto Serif CJK KR", -apple-system, BlinkMacSystemFont, "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif; /*This should have both a bold, and a true italic or oblique variant*/
    --typography-heading: "Rosario", "Jost* Semi", sans-serif;
    --typography-heading-alt: "Libertinus Serif Display", "Noto Serif CJK KR", serif;
    --typography-accent: "Rosario", "Palatino Linotype", serif;
    --typography-technical: "0xProto", monospace; /*Ideally this is a monospace font*/
    --typography-link: "Noto Serif", "Palatino Linotype", serif; /*Ideally, this supports smallcap natively*/
}

body {
	font-feature-settings:
		"calt" 1,
		"dlig" 1,
		"case" 1;
    font-variant-numeric: oldstyle-nums proportional-nums;
}

.view-content div {
    font-family: var(--typography-main);
}

/* HEADINGS */

/* An h1 and a title are treated the same way here */
h1,
h1.embedded-note-title,
.cm-header .cm-header-1,
.HyperMD-header-1.HyperMD-header .cm-header-1,
.markdown-preview-view h1,
.inline-title {
	font-family: var(--typography-heading);
	font-size: 28pt;
	letter-spacing: 0.5pt;
	padding-bottom: 10px;
}

h2,
h2.embedded-note-title,
.cm-header .cm-header-2,
.HyperMD-header-2.HyperMD-header .cm-header-2,
.markdown-preview-view h2,
h3,
h3.embedded-note-title,
.cm-header .cm-header-3,
.HyperMD-header-3.HyperMD-header .cm-header-3,
.markdown-preview-view h3,
h4,
h4.embedded-note-title,
.cm-header .cm-header-4,
.HyperMD-header-4.HyperMD-header .cm-header-4,
.markdown-preview-view h4,
h5,
h5.embedded-note-title,
.cm-header .cm-header-5,
.HyperMD-header-5.HyperMD-header .cm-header-5,
.markdown-preview-view h5,
h6,
h6.embedded-note-title,
.cm-header .cm-header-6,
.HyperMD-header-6.HyperMD-header .cm-header-6,
.markdown-preview-view h6 {
    position: relative;
	font-family: var(--typography-heading-alt);
	letter-spacing: 0.5pt;
	padding-bottom: 10px;
}

h2,
h2.embedded-note-title,
.cm-header .cm-header-2,
.HyperMD-header-2.HyperMD-header .cm-header-2,
.markdown-preview-view h2 {
    font-size: 20pt;
}

h3,
h3.embedded-note-title,
.cm-header .cm-header-3,
.HyperMD-header-3.HyperMD-header .cm-header-3,
.markdown-preview-view h3 {
    font-size: 18pt;
}

h4,
h4.embedded-note-title,
.cm-header .cm-header-4,
.HyperMD-header-4.HyperMD-header .cm-header-4,
.markdown-preview-view h4 {
    font-size: 16pt;
}

h5,
h5.embedded-note-title,
.cm-header .cm-header-5,
.HyperMD-header-5.HyperMD-header .cm-header-5,
.markdown-preview-view h5 {
    font-size: 14pt;
}

h6,
h6.embedded-note-title,
.cm-header .cm-header-6,
.HyperMD-header-6.HyperMD-header .cm-header-6,
.markdown-preview-view h6 {
    font-size: 12pt;
}

/* center align titles to better differentiate them */
body:not(.align-title-left) {
	.HyperMD-header-line.HyperMD-header-line-1.cm-line,
	.inline-title,
	.embeded-note-title.embedded-note-title,
	.HyperMD-header-1,
	.markdown-preview-section.markdown-preview-section h1 {
		text-align: center;
	}
}

.cm-header-1,
.markdown-preview-view h1,
.cm-header-2,
.markdown-preview-view h2,
.cm-header-3,
.markdown-preview-view h3,
.cm-header-4,
.markdown-preview-view h4,
.cm-header-5,
.markdown-preview-view h5,
.cm-header-6,
.markdown-preview-view h6 {
	line-height: 1.2;
}

/* Reader mode H2 mark */
.markdown-rendered h2::before {
    content: "";

    position: absolute;
    left: 0px;
    bottom: 0.2ex;

    width: 25%;
    height: 1px;

    background-color: black;
}
.markdown-rendered h2::after {
    content: "..";

    position: absolute;
    left: 26%;
    bottom: -0.6ex;
}

/* Reader mode H3 mark */
.markdown-rendered h3::before {
    content: "";

    position: absolute;
    left: 0px;
    bottom: 0.2ex;

    width: 20%;
    height: 1px;

    background-color: black;
}
.markdown-rendered h3::after {
    content: "...";

    position: absolute;
    left: 21%;
    bottom: -0.6ex;
}

/* Reader mode H4 mark */
.markdown-rendered h4::before {
    content: "";

    position: absolute;
    left: 0px;
    bottom: 0.2ex;

    width: 15%;
    height: 1px;

    background-color: black;
}
.markdown-rendered h4::after {
    content: "....";

    position: absolute;
    left: 16%;
    bottom: -0.6ex;
}

/* Reader mode H5 mark */
.markdown-rendered h5::before {
    content: "";

    position: absolute;
    left: 0px;
    bottom: 0.2ex;

    width: 10%;
    height: 1px;

    background-color: black;
}
.markdown-rendered h5::after {
    content: ".....";

    position: absolute;
    left: 11%;
    bottom: -0.6ex;
}

/* Reader mode H6 mark */
.markdown-rendered h6::before {
    content: "";

    position: absolute;
    left: 0px;
    bottom: 0.2ex;

    width: 5%;
    height: 1px;

    background-color: black;
}
.markdown-rendered h6::after {
    content: "......";

    position: absolute;
    left: 6%;
    bottom: -0.6ex;
}



/* BODY TEXT */
p,
.markdown-rendered p,
.cm-line {
    font-family: var(--typography-main);
	text-align: left;
    hyphens: auto;
}

.callout-title {
    font-family: var(--typography-heading);
}

.callout-content p {
    font-family: var(--typography-accent);
}



/* LISTS */
.markdown-rendered ul, .markdown-rendered ol {
    font-family: var(--typography-main);
}



/* LINKS */
a {
    font-family: var(--typography-technical);
    font-feature-settings:
        "calt" 1,
        "dlig" 1,
        "liga" 1;
    text-decoration: none;
}

.cm-url,
.cm-hmd-internal-link,
.cm-s-obsidian span.cm-hmd-internal-link,
.cm-link,
.markdown-rendered .internal-link,
.markdown-preview-view .internal-link {
	font-family: var(--typography-link);
    font-variant-caps: small-caps;
    text-decoration: none;
}

.cm-url:hover,
.cm-hmd-internal-link:hover,
.cm-s-obsidian span.cm-hmd-internal-link:hover,
.cm-link:hover,
.markdown-rendered .internal-link:hover,
.markdown-preview-view .internal-link:hover {
    border: 1px solid var(--link-color);
    border-radius: 2px;
    text-decoration: none;
}

/* TABLES */
.markdown-rendered table {
    font-family: var(--typography-main);
    font-feature-settings:
            "calt" 1,
            "dlig" 1,
            "liga" 1;
    font-variant-numeric: lining-nums proportional-nums;

    border-top-color: black;
    border-top-style: solid;
    border-top-width: 2px;

    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.markdown-rendered td, .markdown-rendered th {
    border-style: none;
}

.markdown-rendered th {
    font-family: var(--typography-heading-alt);
    font-weight: 700;

    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

table {
    margin-left: auto;
    margin-right: auto;
}
